<!DOCTYPE html>
<html>
    <head></head>
<body>

<h1>Alle Buecher</h1>
<% for (var i = 0; i < buecher.length; i++){%> 
    Autor:<%= buecher.autor %> <br>
    Titel:<%= buecher.titel %> <br>
    Beschreibung:<%= buecher.Beschreibung %> <br>
    <hr>
    <%} %> 
</body> 

</html>
